<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
<% else %>
  <div class="jumbotron">
    <h2 class="text-center">Welcome to Image Mule</h2>
    <p class="lead text-center">
      You'll love managing your Photos with our application. Sign up!
    </p>
  </div>

  <div class="row">
    <div class="plans clearfix">
      <div class="col-lg-3 col-lg-offset-3 plan">
        <h2 class="text-center">Premium Plan</h2>
        <div class="price text-center">
          Price: $9.99
        </div>
        <div class="features">
          <ul class="listing text-center">
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li class="lead">Only $9.99</li>
          </ul>
        </div>
        <p class="text-center">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info sign-up' %>
        </p>
      </div>
      <div class="col-lg-3 plan">
        <h2 class="text-center">Amaze Plan</h2>
        <div class="price text-center">
          Price: $20
        </div>
        <div class="features">
          <ul class="listing text-center">
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li class='extra'>Unlimited projects</li>
          </ul>
        </div>
        <p class="text-center">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info sign-up' %>
        </p>
      </div>
    </div>
  </div>
<% end %>
